<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Simple Calculator</h1>
        </header>
        <main>
            <div class="calculator">
                <input type="text" class="calculator-screen" disabled>
                <div class="calculator-keys">
                    <!-- First row -->
                    <button type="button" class="all-clear" value="AC">AC</button>
                    <button type="button" class="operator" value="/">÷</button>
                    <button type="button" class="operator" value="*">×</button>
                    <button type="button" class="operator" value="%">%</button>

                    <!-- Second row -->
                    <button type="button" value="7">7</button>
                    <button type="button" value="8">8</button>
                    <button type="button" value="9">9</button>
                    <button type="button" class="operator" value="-">-</button>

                    <!-- Third row -->
                    <button type="button" value="4">4</button>
                    <button type="button" value="5">5</button>
                    <button type="button" value="6">6</button>
                    <button type="button" class="operator" value="+">+</button>

                    <!-- Fourth row -->
                    <button type="button" value="1">1</button>
                    <button type="button" value="2">2</button>
                    <button type="button" value="3">3</button>
                    <button type="button" class="equal-sign operator" value="=">=</button>

                    <!-- Fifth row -->
                    <button type="button" value="0" class="zero">0</button>
                    <button type="button" value=".">.</button>
                </div>
            </div>
        </main>
        <footer>
            <p>Made by @achalnm</p>
            <div class="social-links">
                <a href="https://github.com/achalnm" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/achal-n-35153821b/" target="_blank">LinkedIn</a>
                <a href="https://www.instagram.com/achal_n26/" target="_blank">Instagram</a>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
